
{% if status == 'Out of Stock' %}
  <button
    type="submit"
    class="primary-cart-button w-full m-auto justify-center opacity-50 cursor-not-allowed"
    disabled
    aria-disabled="true"
  >
    Out of Stock
  </button>
{% elsif status == 'Back Order' %}
  <button type="submit" class="primary-cart-button w-full m-auto justify-center">Back Order</button>
{% else %}
  <button type="submit" class="primary-cart-button w-full m-auto justify-center">Add to Cart</button>
{% endif %}
