<div class="process-container-wrapper">
  <div class="process-container">
    <div class="step">
      <div class="step-container">
        <div class="step-number">1</div>
      </div>
      <div class="step-icon"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
  <path d="M1034.07,272l-83.53,338.13c-9.65,30.85-37.27,54.32-69.82,57.55l-575.15-.08c-53.07,8.92-51.7,80.46,1.96,86.82l648.26.15c18.07,2.79,24.6,26.01,12.69,38.92-1.74,1.89-10.91,7.27-12.57,7.27h-33.77l21.25,14.45c69.76,58.02,33.06,173.5-56.86,178.62s-142.63-104.12-79.2-171.83l29.9-21.24h-438.06l29.99,21.15c73.92,78.57-6.89,204.35-109.08,165.04-63.56-24.45-84.09-105.79-40.5-158.15l34.67-28.02c-119.15-.47-127-167.89-8.75-179.56l569.44.15c16.21-1.45,25.79-9.73,31.23-24.73l75.79-309.2H64.36c-8.74,0-18.73-15.05-18.42-24.06s9.43-22.26,18.42-22.26h143.77l-25.27-107.88c-3.16-2.72-70.82,1.91-83.32-.63-23.33-4.75-25.02-38.73-1.96-45.47,33.18,1.72,71.3-3.66,103.9-.5,11.33,1.1,18.18,5.82,21.65,16.94l34.52,137.63,761.07.8c7.83,2.95,10.57,8.46,15.36,14.55v15.44ZM346.61,839.86c-65.01,9.48-55.51,118.18,20.22,107.06,65.44-9.61,57.02-118.32-20.22-107.06ZM867.6,839.81c-64.05,10.94-52.6,118.89,22.23,107.15,66.34-10.41,54.49-120.25-22.23-107.15Z"/>
  <path d="M203.7,368.89l292.96-.45c27.6,3.33,27.36,43.01-3.9,46.36l-279.8-.03c-27.9-1.46-35.33-33.97-9.27-45.88Z"/>
  <path d="M84.16,494.43l279.32-.51c25.2,2.12,34.28,31.14,12.04,44.86l-293.84,1.51c-28.03-3.35-25.47-44.29,2.48-45.86Z"/>
</svg></div>
      <div class="step-label">Place order</div>
    </div>

    <div class="step">
      <div class="step-container">
        <div class="step-number">2</div>
      </div>
      <div class="step-icon"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
      }
    </style>
  </defs>
  <path d="M978.32,514.87v53.07c-2.64,9.86-2.31,21.13-3.67,31.42-25.69,193.69-181.91,350.4-375.88,375.74-10.29,1.35-21.57,1.04-31.44,3.67-18.12-.78-36.73,1.06-54.8,0-16.34-.96-37.04-3.46-53.43-7.36-29.6-7.05-21.31-35.79-.8-35.32,17.91.41,42.05,7.44,61.95,8.42,269.33,13.37,476.19-239.08,412.05-500.91-13.52-55.2-39.44-105.29-72.32-151.15-75,39.88-147.32-59.44-84.62-116.56,62.31-56.78,154.5,22.02,109.05,93.02,50.82,66.1,84.09,146.15,92.19,229.7.49,5.02,1.48,12.16,1.72,16.25ZM818.65,191.78c-47.91,6.13-39.53,81.49,11.4,74.71,46.73-6.21,39.29-81.2-11.4-74.71Z"/>
  <path d="M482.96,229.39l115.25.41c20.2,5.23,8.52,33.87,12.69,48.94,21.86,7.09,44.14,14.31,63.48,26.99,14.6-10.53,26.34-38.27,46.96-24.41,10.47,7.04,68.24,65.08,76.37,76.01,16.42,22.1-11.14,33.03-22.76,48.81,11.63,19.39,20.36,40.65,26.1,62.54,14.75,6.43,46.07-7.82,50.16,14.91l-.41,115.19c-5.18,19.75-34.17,8.74-48.92,12.73-7.18,21.88-15.1,43.55-26.85,63.43,10.31,14.79,38.16,26.24,24.23,46.93-7.05,10.47-65.1,68.22-76.04,76.34-22.14,16.43-32.97-11.14-48.82-22.68-9.34,4.85-18.57,10-28.34,14.02-6.11,2.51-31.95,10.13-34.22,12.01-8.04,6.69,10.26,46.31-16.35,50.41l-113.82-.7c-20.22-5.23-8.47-33.85-12.72-48.91-21.76-7.61-43.39-15.38-63.46-26.85-14.46,10.34-26.35,37.62-46.99,24.27-10.09-6.52-67.82-65.02-76.32-76.06-17.05-22.12,11.24-32.71,22.68-48.8-5.67-10.31-11.24-20.83-15.76-31.72-2.19-5.28-8.95-29.23-10.27-30.82-6.73-8.04-46.33,10.26-50.44-16.34,2.24-34.64-3.37-73.71-.18-107.8,2.67-28.56,30.3-14.05,49.83-18.66,6.89-21.92,14.76-43.82,26.89-63.46-10.43-14.39-37.68-26.38-24.35-46.98,6.53-10.08,65.04-67.79,76.08-76.29,22.06-16.99,32.93,11.19,48.83,22.85,19.06-12.17,40.75-20.28,62.56-26.19,6.43-14.97-7.84-45.55,14.9-50.15ZM575.89,263.23h-71.92v31.67c0,3.76-7.12,11.47-10.76,13.21-12.86,6.12-33.97,9.44-49.12,15.95-8.37,3.6-31.81,18.72-36.97,19.55-18.49,2.95-23.82-16.77-37.58-23.94l-50.39,49.08c8.2,14.26,27.01,19.54,23.75,39.05-1.02,6.11-15.69,28.06-19.54,36.94-6.57,15.16-9.82,36.2-15.96,49.1-1.73,3.64-9.45,10.76-13.21,10.76h-31.68v71.9h33.39c.44,0,6.92,3.72,7.62,4.37,5.32,4.97,12.5,37,16.39,46.96,4.25,10.9,21.94,38.82,23.01,45.49,2.96,18.46-16.79,23.83-23.95,37.56l49.1,50.37c5.2.91,20.67-27.03,36.68-24.8,7.61,1.06,25.77,14.23,34.71,18.38,11.39,5.29,57.02,17.72,60.89,23.01.54.74,3.63,7.9,3.63,8.36v31.67h71.92v-31.67c0-.61,3.52-8.28,4.37-9.32,4.44-5.45,37.13-12.58,46.97-16.38,17.15-6.63,31.31-16.65,47.88-24.05,16.01-2.23,31.48,25.71,36.68,24.8l49.1-50.37c-7.44-14.39-27.11-18.57-23.94-37.58,1.18-7.08,18.65-34.24,22.99-45.47,3.93-10.17,10.73-41.68,16.39-46.96.7-.65,7.18-4.37,7.62-4.37h33.39v-71.9h-31.68c-3.76,0-11.48-7.12-13.21-10.76-6.14-12.9-9.39-33.93-15.96-49.1-3.85-8.88-18.52-30.84-19.54-36.94-3.26-19.52,15.55-24.8,23.75-39.05l-50.39-49.08c-13.75,7.17-19.09,26.89-37.58,23.94-4.97-.79-28.82-15.97-36.97-19.54s-16.47-6.61-24.74-9.5c-9.41-3.29-35.14-5.64-35.14-19.66v-31.67Z"/>
  <path d="M219.88,788.63c28.41-13.36,61.02-11.36,84.63,10.36,36.79,33.83,28.2,96.6-17.38,117.94-66.64,31.21-130.57-43.42-91.68-104.75-154.22-197.6-113.98-482.44,89.51-628.36,89.81-64.4,226.59-100.72,335.8-74.14,23.28,5.67,28.94,22.54,6.97,35.12-22.73-1.67-45.23-7.19-68.03-8.31-146.79-7.23-288.79,69.15-364.68,193.65-87.85,144.12-76.18,324.47,24.87,458.5ZM248.36,814.85c-45.26,7.71-37,79.33,11.38,74.73,50.25-4.78,41-83.66-11.38-74.73Z"/>
  <path d="M693.6,133.52c25.74-5.22,27.48,30.91,6,33.53-20.66,2.52-27.14-29.24-6-33.53Z"/>
  <path d="M395.49,919.44c15.18,15.31-9.19,39.67-24.51,24.5-16.3-16.14,8.36-40.79,24.51-24.5Z"/>
  <path class="cls-1" d="M248.36,814.85c52.38-8.92,61.62,69.96,11.38,74.73-48.38,4.6-56.63-67.02-11.38-74.73Z"/>
  <path d="M532.73,398.98c123.01-6.11,195.39,139.08,115.13,233.19-57.47,67.39-161.14,66.2-217.48-1.81-73.93-89.25-12.51-225.68,102.34-231.38ZM534.45,433.22c-83.76,4.13-130.34,99.66-82.55,168.8,42.3,61.2,135.19,60.65,176.76-1.03,49.47-73.4-6-172.12-94.21-167.77Z"/>
</svg>
      </div>
      <div class="step-label">Proof & Approve</div>
    </div>
    <div class="step">
      <div class="step-container">
        <div class="step-number">3</div>
      </div>
      <div class="step-icon"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
  <path d="M726.78,72.11c30.76,6.11,59.59,24.32,73.93,52.77,2.28,4.52,9.95,24.59,9.95,28.33v152.17h110.33c43.55,0,82.02,51.15,84.88,91.95,6.46,92.07-5.06,191.59-.02,284.44.47,39.07-45.9,90.14-84.86,90.14h-110.33v152.17c0,3.73-7.68,23.81-9.95,28.33-15.44,30.64-48.05,50.47-82.06,52.85-117.93,8.26-245.64-6.17-364.58-.3-35.54.01-86.84-45.56-86.84-80.88v-152.17h-110.33c-3.5,0-19.71-5.25-24.04-6.96-32.49-12.81-54.06-43.39-60.76-76.87v-298.88c3.36-36.41,47.53-83.83,84.8-83.83h110.33v-152.17c0-36.45,49.55-76.99,83.88-81.1h375.66ZM772.37,305.38v-144.88c0-22.98-32.92-50.43-55.84-49.89-114.17,5.62-236.79-8.24-349.99-.31-25.47,1.79-61.01,21.53-61.01,50.2v144.88h466.84ZM164.2,733.65c30.93,3.66,68.61-2.73,100.3,0l2.74-2.73v-140.33c0-6.08,16.33-15.12,22.72-13.74h496.17c6.8-1.94,24.54,7.13,24.54,13.74v140.33l2.74,2.73h100.3c25.95,0,53.87-31.81,53.77-57.44-5.79-88.74,7.84-187.57,0-275.13-2.96-32.98-26.48-54.93-59.17-57.5l-736.88-.02c-34.64,1.72-58.36,24.7-61.07,59.25-6.95,88.29,5.15,185.78.29,275.03,2.53,28.13,25.18,52.44,53.57,55.81ZM772.37,617.01h-466.84v299.79c0,28.67,35.54,48.41,61.01,50.2,113.2,7.94,235.82-5.93,349.99-.31,22.92.54,55.84-26.91,55.84-49.89v-299.79Z"/>
  <path d="M649.62,805.98c-3,2.66-8.94,4.26-13.02,4.31l-243.07-1.48c-16.53-9.28-11.47-35.03,7.69-36.94l235.29.05c17.19.12,25.91,22.74,13.12,34.06Z"/>
  <path d="M649.62,854.5c12.79,11.31,4.07,33.93-13.12,34.06l-235.29.05c-19.16-1.9-24.22-27.66-7.69-36.94l243.07-1.48c4.08.05,10.02,1.65,13.02,4.31Z"/>
  <path d="M494.57,699.63c12.47,12.49,3.61,31.49-13.22,33.86-14.8,2.09-63.2,2.02-78.1,0-26.45-3.59-26.39-36.18,0-39.77,15.65-2.13,60.48-1.97,76.43-.16,4.71.53,11.57,2.76,14.88,6.08Z"/>
</svg></div>
      <div class="step-label">Print</div>
    </div>

    <div class="step">
      <div class="step-container">
        <div class="step-number">4</div>
      </div>
      <div class="step-icon"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
  <path d="M69.8,573.37c5.45-7.36,7.23-11.77,17.42-12.91,44.48-4.97,97.96,3.85,143.43,0,21.9,2.59,21.3,35.88-1.83,38.68-44.28-3.76-96.39,4.87-139.72-.05-10.47-1.19-14.71-5.7-19.3-14.7v-11.03Z"/>
  <path d="M749.76,325.28h138.75c1.65,0,16.34,5.27,19.26,6.47,27.65,11.27,39.73,29.74,50.15,56.44,16.39,41.98,35.48,99.03,46.76,142.53,16.06,61.89-7.72,130.85-10.97,193.81-12.89,51.56-61.11,54.23-106.05,51.08-2.24,21.08-16.54,41.55-32.29,55-54.79,46.8-139.01,20.24-141.59-55.11l-337.77.26-2.11,1.56c-13.15,56.7-79.09,95.64-133.22,67.15-24.75-13.03-42.48-40.46-40.39-68.96-41.98,4.04-92.23-1.05-93.35-54.21-.2-9.51,6.52-63.09,9.73-70.74,8.81-21.02,34.94-13.13,38.88,7.44l513.37-.08,45.8-374.27c.13-10.17-4.39-17.46-15.4-17.26l-479.62.21c-26.36,4.86-16.51,34.5-25.93,49.42-10.76,17.04-35.92,7.8-35.92-11.85,0-41.22,24.14-75.92,67.17-78.19l477.66.3c26.98,2.84,48.82,22.4,50.82,50.24,1.17,16.34-4.77,32.43-3.73,48.77ZM920.67,402.46c-4.21-20.4-19.23-35.16-39.99-38.12l-136.17-.22-37.02,293.78h255.44c.92-32.37,11.62-65.25,7.35-97.4h-133.24c-13.27,0-30.36-14.21-33.19-27.46-3.01-14.11,5.25-75.87,8.65-92.64,2.79-13.76,9.19-26.27,22.33-32.8,1.8-.89,14.16-5.14,15.08-5.14h70.75ZM841.65,520.08h117.61l-25.01-77.3-81.7.91-10.9,76.39ZM237.03,696.5h-88.21c.37,16.26-10.14,37.62,13.74,40.47,8.69,1.04,31.93,1.1,40.58.06,8.89-1.07,8.24-11.38,14.02-17.22l19.87-23.31ZM663.39,696.5h-312.41c3.79,5.49,9.02,10.24,12.54,15.95,4.59,7.44,7.54,23.6,15.84,24.59l275.76-.1,4.34-3.01,3.93-37.42ZM753.44,696.5h-48.7c-1.87,1.17-2.36,2.53-2.74,4.61-2.01,11.06-1.69,24.47-3.7,35.82,6.38-1.02,20.29,2.27,24.84-1.81,1.51-1.36,6.51-12.58,9.33-16.4,6.46-8.77,13.66-14.47,20.97-22.22ZM957.42,696.5h-91.89l15.01,20.83,8.17,19.72c35.38.05,70.28,7.31,68.71-40.54ZM288.04,717.2c-62.86,8.94-68.27,108.6,2.76,96.48,58.27-9.94,64.71-106.07-2.76-96.48ZM802.61,717.2c-63.15,9-69.1,108.73,2.77,96.48,57.72-9.84,64.05-106-2.77-96.48Z"/>
  <path d="M107.9,364.3l164.8-.26c23.35,3.32,24.04,35.63.21,38.47l-165.33-.15c-19.35-4.1-18.96-34.17.32-38.06Z"/>
  <path d="M148.34,461.71c14.82-2.5,78-2.49,92.84,0,24.18,4.05,23.97,36.37-1.56,39.83-16.2,2.19-75.61,2.36-91.28-.28-24.11-4.06-24.09-35.49,0-39.55Z"/>
</svg></div>
      <div class="step-label">Delivery</div>
    </div>
  </div>
</div>
<style>
  .process-container-wrapper {
    position: relative;
    padding:16px 0;
  }
  .process-container {
    max-width: 910px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  .step {
    text-align: center;
    flex: 1;
    position: relative;
    background: #f9e6a7;
    border-radius: 60px;
    width: 116px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;    
  }

  .step-container {
    position: relative;
  }
  .step-number {
    color: #000000;
    z-index: 1;
    position: relative;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 14px;
    line-height: 0;
    font-family: 'M-Heading-Font';
    font-size: 14px;
  }
  

  .step-icon {
    color: #000000;
    margin-bottom: 10px;
  }
  .step-icon svg {
    width: 46px;
    margin: auto;
  }

  .step-label {
    color: #000000;
    font-family: 'M-Heading-Font';
    font-size: 16px;
    max-width: 80px;
    margin: auto;
    line-height: 1.1;
  }

  @media (max-width: 1024px) {
    .process-container {
      display:none;
    }
  }

</style>