<div class="my-3">
  {% form 'product', product %}
    {{ form | payment_button }}
  {% endform %}
  <div class="payment-options flex flex-wrap items-center my-4">
    <a href="/checkout" class="payment-option">
      <svg xmlns="http://www.w3.org/2000/svg" width="52" height="32" viewBox="0 0 52 32" fill="none">
        <g clip-path="url(#clip0_190_4054)">
            <path d="M47.1995 30.6663H4.79948C3.33281 30.6663 2.13281 29.4663 2.13281 27.9997V3.99967C2.13281 2.53301 3.33281 1.33301 4.79948 1.33301H47.1995C48.6662 1.33301 49.8661 2.53301 49.8661 3.99967V27.9997C49.8661 29.4663 48.6662 30.6663 47.1995 30.6663Z" fill="white"/>
            <path d="M9.3332 19.6002L9.59987 22.1335H20.2665L19.9999 19.2002H14.9332V18.9335L19.4665 15.7335L19.1999 13.2002H8.5332L8.9332 16.0002H13.8665V16.4002L9.3332 19.6002Z" fill="#1A0826"/>
            <path d="M20.4004 13.2002L21.6004 22.1335H32.2671L31.2004 13.2002H20.4004Z" fill="#AA8FFF"/>
            <path d="M43.4671 16.4002C43.2004 14.4002 41.6004 13.2002 39.4671 13.2002H32.4004L33.4671 22.1335H36.6671L36.4004 20.4002H39.7337C42.5337 20.2669 43.7337 18.6669 43.4671 16.4002ZM39.4671 17.8669H36.1337L35.8671 15.7335H39.2004C40.0004 15.7335 40.4004 16.1335 40.4004 16.8002C40.5337 17.0669 40.4004 17.8669 39.4671 17.8669Z" fill="#1A0826"/>
            <path d="M23.8195 12.0557C24.3743 11.4655 24.2586 10.4556 23.5611 9.7999C22.8636 9.14423 21.8484 9.09116 21.2936 9.68135C20.7388 10.2716 20.8545 11.2815 21.552 11.9372C22.2495 12.5929 23.2647 12.6459 23.8195 12.0557Z" fill="#1A0826"/>
            <path opacity="0.07" d="M47.1988 1.33333C48.6655 1.33333 49.8655 2.53333 49.8655 4V28C49.8655 29.4667 48.6655 30.6667 47.1988 30.6667H4.79883C3.33216 30.6667 2.13216 29.4667 2.13216 28V4C2.13216 2.53333 3.33216 1.33333 4.79883 1.33333H47.1988ZM47.1988 0H4.79883C2.53216 0 0.798828 1.73333 0.798828 4V28C0.798828 30.2667 2.53216 32 4.79883 32H47.1988C49.4655 32 51.1988 30.2667 51.1988 28V4C51.1988 1.86667 49.4655 0 47.1988 0Z" fill="black"/>
        </g>
        <defs>
            <clipPath id="clip0_190_4054">
                <rect width="50.6667" height="32" fill="white" transform="translate(0.666016)"/>
            </clipPath>
        </defs>
      </svg>
      <span>Zip - Buy now, pay later</span>
    </a>
    <a href="/checkout" class="payment-option">
      <svg xmlns="http://www.w3.org/2000/svg" width="52" height="32" viewBox="0 0 52 32" fill="none">
        <g clip-path="url(#clip0_190_4070)">
            <path d="M47.3327 0H4.66602C2.39935 0 0.666016 1.73333 0.666016 4V28C0.666016 30.2667 2.53268 32 4.66602 32H47.3327C49.5993 32 51.3327 30.2667 51.3327 28V4C51.3327 1.73333 49.466 0 47.3327 0Z" fill="#B2FCE4"/>
            <path d="M37.1995 9.06733L33.5995 6.93399L29.9995 4.80066C27.5995 3.46733 24.5328 5.20066 24.5328 8.00066V8.53399C24.5328 8.80066 24.6661 9.06733 24.9328 9.20066L26.6661 10.134C27.1995 10.4007 27.7328 10.0007 27.7328 9.46733V8.40066C27.7328 7.86733 28.2661 7.46733 28.7995 7.73399L32.1328 9.60066L35.3328 11.6007C35.8661 11.8673 35.8661 12.534 35.3328 12.8007L31.9995 14.6673L28.6661 16.8007C28.1328 17.0673 27.5995 16.6673 27.5995 16.134V15.6007C27.5995 12.8007 24.5328 11.0673 22.1328 12.4007L18.5328 14.534L14.9328 16.6673C12.5328 18.0007 12.5328 21.6007 14.9328 22.934L18.5328 25.0673L22.1328 27.2007C24.5328 28.534 27.5995 26.8007 27.5995 24.0007V23.4673C27.5995 23.2007 27.4661 22.934 27.1995 22.8007L25.4661 21.8673C24.9328 21.6007 24.3995 22.0007 24.3995 22.534V23.6007C24.3995 24.134 23.8661 24.534 23.3328 24.2673L19.9995 22.4007L16.6661 20.4007C16.1328 20.134 16.1328 19.4673 16.6661 19.2007L19.9995 17.334L23.3328 15.4673C23.8661 15.2007 24.3995 15.6007 24.3995 16.134V16.6673C24.3995 19.4673 27.4661 21.2007 29.8661 19.8673L33.4661 17.734L37.0661 15.6007C39.5995 14.0007 39.5995 10.534 37.1995 9.06733Z" fill="black"/>
        </g>
        <defs>
            <clipPath id="clip0_190_4070">
                <rect width="50.6667" height="32" fill="white" transform="translate(0.666016)"/>
            </clipPath>
        </defs>
      </svg>
      <span>Pay it in 4 with AfterPay</span>
    </a>
    <a href="/checkout" class="payment-option">
      <svg xmlns="http://www.w3.org/2000/svg" width="52" height="32" viewBox="0 0 52 32" fill="none">
        <g clip-path="url(#clip0_190_4030)">
            <path opacity="0.07" d="M47.3327 0H4.66602C2.39935 0 0.666016 1.73333 0.666016 4V28C0.666016 30.2667 2.53268 32 4.66602 32H47.3327C49.5993 32 51.3327 30.2667 51.3327 28V4C51.3327 1.73333 49.466 0 47.3327 0Z" fill="black"/>
            <path d="M47.3333 1.33301C48.8 1.33301 50 2.53301 50 3.99967V27.9997C50 29.4663 48.8 30.6663 47.3333 30.6663H4.66667C3.2 30.6663 2 29.4663 2 27.9997V3.99967C2 2.53301 3.2 1.33301 4.66667 1.33301H47.3333Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.3327 16.7863C43.3327 14.321 42.138 12.3757 39.8567 12.3757C37.5633 12.3757 36.1767 14.3223 36.1767 16.7677C36.1767 19.665 37.8153 21.129 40.1633 21.129C41.31 21.129 42.1767 20.869 42.8314 20.5023V18.577C42.178 18.905 41.426 19.1077 40.4727 19.1077C39.5393 19.1077 38.71 18.7797 38.6047 17.6437H43.314C43.314 17.5183 43.3327 17.017 43.3327 16.7863ZM38.5753 15.8717C38.5753 14.7837 39.2407 14.3303 39.8473 14.3303C40.434 14.3303 41.0607 14.7837 41.0607 15.8717H38.5753ZM32.4607 12.3757C31.7583 12.3733 31.0822 12.6428 30.574 13.1277L30.4487 12.5303H28.3287V23.757L30.7367 23.2477L30.7474 20.5223C31.094 20.773 31.6033 21.129 32.4514 21.129C34.1754 21.129 35.7447 19.7423 35.7447 16.689C35.7353 13.897 34.146 12.3757 32.4607 12.3757ZM31.8834 19.0103C31.3153 19.0103 30.9767 18.809 30.7474 18.557L30.7367 14.985C30.9873 14.7063 31.334 14.5143 31.8834 14.5143C32.7593 14.5143 33.366 15.4957 33.366 16.757C33.366 18.0477 32.7687 19.0103 31.8834 19.0103ZM25.0167 11.8077L27.434 11.2877V9.33301L25.0167 9.84367V11.8077ZM25.0167 12.5397H27.434V20.9663H25.0167V12.5397ZM22.4273 13.2517L22.2727 12.5397H20.1927V20.9663H22.6007V15.2557C23.1687 14.5143 24.1313 14.649 24.43 14.7543V12.5397C24.122 12.4237 22.9953 12.2117 22.4273 13.2517ZM17.6113 10.4503L15.262 10.9503L15.2527 18.6637C15.2527 20.0903 16.322 21.1383 17.746 21.1383C18.5367 21.1383 19.114 20.9943 19.4313 20.821V18.8663C19.1247 18.9917 17.602 19.4343 17.602 18.009V14.5903H19.4313V12.5397H17.602L17.6113 10.4503ZM11.102 14.985C11.102 14.6103 11.41 14.465 11.9207 14.465C12.6527 14.465 13.5767 14.6877 14.3087 15.0823V12.8183C13.549 12.5187 12.7386 12.3684 11.922 12.3757C9.96468 12.3757 8.66602 13.397 8.66602 15.101C8.66602 17.7583 12.3247 17.3357 12.3247 18.481C12.3247 18.9237 11.9407 19.0677 11.4007 19.0677C10.6007 19.0677 9.58068 18.741 8.77135 18.2983V20.5903C9.66735 20.9757 10.5727 21.1383 11.4007 21.1383C13.4033 21.1383 14.7807 20.1477 14.7807 18.4237C14.7713 15.5543 11.102 16.0637 11.102 14.985Z" fill="#635BFF"/>
        </g>
        <defs>
            <clipPath id="clip0_190_4030">
                <rect width="50.6667" height="32" fill="white" transform="translate(0.666016)"/>
            </clipPath>
        </defs>
      </svg>
      <span>Secure Credit Card Payments</span>
    </a>
  </div>
</div>
<style>
  .shopify-payment-button__more-options {
    display: none;
  }
  a#more-payment-options-link {
    text-decoration: none;
  }

  .payment-options {
    display: flex;
  }

  .payment-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    gap: 8px;
  }

  .payment-option:not(:last-child) {
    padding-right: 16px;
    border-right: 1px solid #d9d9d9;
  }

  .payment-option:not(:first-child) {
    padding-left: 16px;
  }

  .payment-option span {
    color: var(--Text-Black, #131313);
    text-align: center;
    font-family: Poppins, 'M-Body-Font', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    letter-spacing: -0.12px;
  }

  .payment-option svg {
    flex-shrink: 0;
  }

  label.m-product-option--label {
    display: none;
  }
</style>
