{% render 'searchbox' %}
{% for block in section.blocks %}
    {% if block.settings.logo %}
        <a href="/"><img src="{{ block.settings.logo }}" width="120px " height="120px"></a>
    {% endif %}
{% endfor %}   

<h1>This is a  header</h1>