{% if section.settings.show_search %}
    {% render 'searchbox' %}
{% endif %}

{% for block in section.blocks %}
    {% if block.settings.logo %}
        <a href="/"><img src="{{ block.settings.logo | image_url: width: 210 | image_tag }}"></a>
    {% endif %}
{% endfor %}   

{% render 'header-left-menu' %}