<section class="w-full flex flex-col space-y-4">
  <div class="flex items-center flex-wrap justify-between">
    <div class="flex items-center w-32 md:w-auto py-2 md:py-0 flex-1 md:flex-none">
      {% if shop.brand.logo %}
        <a href="/">
          <img
            src="{{ shop.brand.logo | image_url: width: 400 }}"
            alt="{{ shop.name }}"
            width="200"
            height="100"
            class="h-auto md:h-32 object-contain"
          >
        </a>
      {% else %}
        <h1 class="text-white text-2xl font-bold">{{ shop.name }}</h1>
      {% endif %}
    </div>

    <div class="w-12 md:flex-1 md:mx-12 z-10 max-w-3xl">
      {% render 'searchbox' %}
    </div>

    <div class="flex items-center md:space-x-4">
      <div>{% render 'navigation-icons' %}</div>
    </div>
  </div>
</section>
