<div class="flex md:space-x-2 items-center text-white">
  <!-- Profile/User Icon -->
  <button id="profile-btn" class="p-1 rounded hover:text-bg-light transition">
    {% render 'icon-svg-user', class: 'size-6 cursor-pointer' %}
  </button>
  {% render 'quotify-button' %}
</div>
