<div class="tab-panel hidden" data-panel="shipping">
  {% if shipping_content and shipping_content != blank %}
    <div class="shipping-custom">{{ shipping_content | raw }}</div>
  {% else %}
    <div class="prose max-w-none text-sm text-gray-800">
      <h3>Shipping</h3>
      <p><strong>Estimated shipping times on our range of stocked items are as follows:</strong></p>
      <div class="overflow-x-auto">
        <table class="w-full shipping-table border-collapse">
          <thead>
            <tr class="bg-gray-100">
              <th class="p-3 text-left">Location</th>
              <th class="p-3 text-left">Expected Delivery</th>
              <th class="p-3 text-left">Additional Information</th>
            </tr>
          </thead>
          <tbody>
            <tr><td class="p-3">NSW Metro</td><td class="p-3">1-2 business days</td><td class="p-3">Usually overnight. Same day delivery can be arranged for an extra charge.</td></tr>
            <tr class="bg-gray-50"><td class="p-3">NSW Regional</td><td class="p-3">2-3 business days</td><td class="p-3"></td></tr>
            <tr><td class="p-3">VIC Metro</td><td class="p-3">1-2 business days</td><td class="p-3">Usually overnight.</td></tr>
            <tr class="bg-gray-50"><td class="p-3">VIC Regional</td><td class="p-3">2-3 business days</td><td class="p-3"></td></tr>
            <tr><td class="p-3">QLD Metro</td><td class="p-3">1-2 business days</td><td class="p-3">Usually overnight.</td></tr>
            <tr class="bg-gray-50"><td class="p-3">QLD Regional</td><td class="p-3">2-3 business days</td><td class="p-3"></td></tr>
            <tr><td class="p-3">ACT</td><td class="p-3">1-2 business days</td><td class="p-3">Usually overnight.</td></tr>
            <tr class="bg-gray-50"><td class="p-3">SA Metro</td><td class="p-3">1-2 business days</td><td class="p-3">Usually overnight.</td></tr>
            <tr><td class="p-3">SA Regional</td><td class="p-3">2-4 business days</td><td class="p-3"></td></tr>
            <tr class="bg-gray-50"><td class="p-3">NT Metro</td><td class="p-3">4-6 business days</td><td class="p-3"></td></tr>
            <tr><td class="p-3">NT Regional</td><td class="p-3">5-7 business days</td><td class="p-3"></td></tr>
            <tr class="bg-gray-50"><td class="p-3">WA Metro</td><td class="p-3">4-5 business days</td><td class="p-3"></td></tr>
            <tr><td class="p-3">WA Regional</td><td class="p-3">6-7 business days</td><td class="p-3"></td></tr>
            <tr class="bg-gray-50"><td class="p-3">TAS</td><td class="p-3">3-4 business days</td><td class="p-3"></td></tr>
          </tbody>
        </table>
      </div>

      <h3 class="mt-4">Returns</h3>
      <p>Items may be returned within 30 days from the date of purchase. Returned items must be in original packaging and unused.</p>
      <p><strong>Address for returns:</strong> 37 Bentley Street, Wetherill Park, NSW 2164</p>
      <p><strong>Notes:</strong> Customer must pay for return shipping. 100% credit will be provided, less shipping costs.</p>
    </div>
  {% endif %}
</div>
