<div class="product-rating-question">
  <div class="rating-stars" onclick="questionAnchor()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path d="M9.15327 2.33977L10.3266 4.68643C10.4866 5.0131 10.9133 5.32643 11.2733 5.38643L13.3999 5.73977C14.7599 5.96643 15.0799 6.9531 14.0999 7.92643L12.4466 9.57977C12.1666 9.85977 12.0133 10.3998 12.0999 10.7864L12.5733 12.8331C12.9466 14.4531 12.0866 15.0798 10.6533 14.2331L8.65994 13.0531C8.29994 12.8398 7.70661 12.8398 7.33994 13.0531L5.34661 14.2331C3.91994 15.0798 3.05327 14.4464 3.42661 12.8331L3.89994 10.7864C3.98661 10.3998 3.83327 9.85977 3.55327 9.57977L1.89994 7.92643C0.926606 6.9531 1.23994 5.96643 2.59994 5.73977L4.72661 5.38643C5.07994 5.32643 5.50661 5.0131 5.66661 4.68643L6.83994 2.33977C7.47994 1.06643 8.51994 1.06643 9.15327 2.33977Z" fill="#595959" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path d="M9.15327 2.33977L10.3266 4.68643C10.4866 5.0131 10.9133 5.32643 11.2733 5.38643L13.3999 5.73977C14.7599 5.96643 15.0799 6.9531 14.0999 7.92643L12.4466 9.57977C12.1666 9.85977 12.0133 10.3998 12.0999 10.7864L12.5733 12.8331C12.9466 14.4531 12.0866 15.0798 10.6533 14.2331L8.65994 13.0531C8.29994 12.8398 7.70661 12.8398 7.33994 13.0531L5.34661 14.2331C3.91994 15.0798 3.05327 14.4464 3.42661 12.8331L3.89994 10.7864C3.98661 10.3998 3.83327 9.85977 3.55327 9.57977L1.89994 7.92643C0.926606 6.9531 1.23994 5.96643 2.59994 5.73977L4.72661 5.38643C5.07994 5.32643 5.50661 5.0131 5.66661 4.68643L6.83994 2.33977C7.47994 1.06643 8.51994 1.06643 9.15327 2.33977Z" fill="#595959" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path d="M9.15327 2.33977L10.3266 4.68643C10.4866 5.0131 10.9133 5.32643 11.2733 5.38643L13.3999 5.73977C14.7599 5.96643 15.0799 6.9531 14.0999 7.92643L12.4466 9.57977C12.1666 9.85977 12.0133 10.3998 12.0999 10.7864L12.5733 12.8331C12.9466 14.4531 12.0866 15.0798 10.6533 14.2331L8.65994 13.0531C8.29994 12.8398 7.70661 12.8398 7.33994 13.0531L5.34661 14.2331C3.91994 15.0798 3.05327 14.4464 3.42661 12.8331L3.89994 10.7864C3.98661 10.3998 3.83327 9.85977 3.55327 9.57977L1.89994 7.92643C0.926606 6.9531 1.23994 5.96643 2.59994 5.73977L4.72661 5.38643C5.07994 5.32643 5.50661 5.0131 5.66661 4.68643L6.83994 2.33977C7.47994 1.06643 8.51994 1.06643 9.15327 2.33977Z" fill="#595959" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path d="M9.15327 2.33977L10.3266 4.68643C10.4866 5.0131 10.9133 5.32643 11.2733 5.38643L13.3999 5.73977C14.7599 5.96643 15.0799 6.9531 14.0999 7.92643L12.4466 9.57977C12.1666 9.85977 12.0133 10.3998 12.0999 10.7864L12.5733 12.8331C12.9466 14.4531 12.0866 15.0798 10.6533 14.2331L8.65994 13.0531C8.29994 12.8398 7.70661 12.8398 7.33994 13.0531L5.34661 14.2331C3.91994 15.0798 3.05327 14.4464 3.42661 12.8331L3.89994 10.7864C3.98661 10.3998 3.83327 9.85977 3.55327 9.57977L1.89994 7.92643C0.926606 6.9531 1.23994 5.96643 2.59994 5.73977L4.72661 5.38643C5.07994 5.32643 5.50661 5.0131 5.66661 4.68643L6.83994 2.33977C7.47994 1.06643 8.51994 1.06643 9.15327 2.33977Z" fill="#595959" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
      <path d="M9.48726 2.33977L10.6606 4.68643C10.8206 5.0131 11.2473 5.32643 11.6073 5.38643L13.7339 5.73977C15.0939 5.96643 15.4139 6.9531 14.4339 7.92643L12.7806 9.57977C12.5006 9.85977 12.3473 10.3998 12.4339 10.7864L12.9073 12.8331C13.2806 14.4531 12.4206 15.0798 10.9873 14.2331L8.99392 13.0531C8.63392 12.8398 8.04059 12.8398 7.67392 13.0531L5.68059 14.2331C4.25392 15.0798 3.38726 14.4464 3.76059 12.8331L4.23392 10.7864C4.32059 10.3998 4.16726 9.85977 3.88726 9.57977L2.23392 7.92643C1.26059 6.9531 1.57392 5.96643 2.93392 5.73977L5.06059 5.38643C5.41392 5.32643 5.84059 5.0131 6.00059 4.68643L7.17392 2.33977C7.81392 1.06643 8.85392 1.06643 9.48726 2.33977Z" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

  <div class="rating-question"><a data-open-ask-question>Ask a Question</a></div>
</div>
<style>
  .product-rating-question {
    display: flex;
    gap: 19px;
    cursor: pointer;
  }
  .rating-stars {
    display: flex;
    gap: 5px;
  }
  .rating-stars svg {
    flex-shrink: 0;
  }
  .rating-score {
    color: var(--Text-Black-Subdued, #595959);
    font-family: Poppins, M-Body-Font, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
    letter-spacing: -0.14px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  .rating-question {
    color: var(--Text-Black-Subdued, #595959);
    font-family: Poppins, M-Body-Font, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
    letter-spacing: -0.14px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
</style>
<script>
  let star0 = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
  <path d="M9.15327 2.33977L10.3266 4.68643C10.4866 5.0131 10.9133 5.32643 11.2733 5.38643L13.3999 5.73977C14.7599 5.96643 15.0799 6.9531 14.0999 7.92643L12.4466 9.57977C12.1666 9.85977 12.0133 10.3998 12.0999 10.7864L12.5733 12.8331C12.9466 14.4531 12.0866 15.0798 10.6533 14.2331L8.65994 13.0531C8.29994 12.8398 7.70661 12.8398 7.33994 13.0531L5.34661 14.2331C3.91994 15.0798 3.05327 14.4464 3.42661 12.8331L3.89994 10.7864C3.98661 10.3998 3.83327 9.85977 3.55327 9.57977L1.89994 7.92643C0.926606 6.9531 1.23994 5.96643 2.59994 5.73977L4.72661 5.38643C5.07994 5.32643 5.50661 5.0131 5.66661 4.68643L6.83994 2.33977C7.47994 1.06643 8.51994 1.06643 9.15327 2.33977Z" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
</svg>`;
  let star25 = `<svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
<path d="M6.36493 6.49963V6.83006C6.36493 7.21448 6.36493 7.2059 6.36493 7.3479V7.78996C6.36493 8.56049 6.36493 7.66393 6.36493 8.49963V8.99963C6.36493 9.63287 6.36493 8.54599 6.36493 9.84609V11.0528C6.36493 12.4996 6.36493 11.2186 6.36493 12.6021V13.4996C6.36493 14.0153 6 13.6396 6 14L5.5 13.5C4.07333 14.3467 4.62667 14.1133 5 12.5L5.50021 11.5C5.58687 11.1133 5.28021 9.78 5.00021 9.5L3.50021 8C2.52687 7.02667 1.93826 6.23276 3.29826 6.00609L5.42493 5.65276C5.77826 5.59276 6.20493 5.49073 6.36493 5.16406V5.79499C6.36493 6.12073 6.36493 5.79499 6.36493 6.49963Z" fill="#595959" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10.1533 2.33977L11.3266 4.68643C11.4866 5.0131 11.9133 5.32643 12.2733 5.38643L14.3999 5.73977C15.7599 5.96643 16.0799 6.9531 15.0999 7.92643L13.4466 9.57977C13.1666 9.85977 13.0133 10.3998 13.0999 10.7864L13.5733 12.8331C13.9466 14.4531 13.0866 15.0798 11.6533 14.2331L9.65994 13.0531C9.29994 12.8398 8.70661 12.8398 8.33994 13.0531L6.34661 14.2331C4.91994 15.0798 4.05327 14.4464 4.42661 12.8331L4.89994 10.7864C4.98661 10.3998 4.83327 9.85977 4.55327 9.57977L2.89994 7.92643C1.92661 6.9531 2.23994 5.96643 3.59994 5.73977L5.72661 5.38643C6.07994 5.32643 6.50661 5.0131 6.66661 4.68643L7.83994 2.33977C8.47994 1.06643 9.51994 1.06643 10.1533 2.33977Z" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
</svg>`;
  let star50 = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<path d="M8.5 2L8.66556 5.04685C8.66556 5.41477 8.66556 5.04685 8.66556 5.50026V6.50026C8.66556 7.35332 8.66556 6.56919 8.66556 7.66042V9.66041C8.66556 10.4468 8.66556 9.66041 8.66556 10.4468V11.0003C8.66556 11.5001 8.66556 11.0703 8.66556 11.6604V12.4533C8.31985 12.5001 8.37216 12.5002 8.0055 12.7135L5.5 13.5017C4.07333 14.3483 3.71883 14.1068 4.09216 12.4935L4.56549 10.4468C4.65216 10.0602 4.49883 9.52018 4.21883 9.24018L2.56549 7.58685C1.59216 6.61352 1.64019 6.22835 3.00019 6.00168H5.50019C5.85352 5.94168 6.17216 4.67351 6.33216 4.34685L7.49954 2.50244C8.49358 1.50471 7.83994 2.15625 8.5 2Z" fill="#595959" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.15327 2.33977L10.3266 4.68643C10.4866 5.0131 10.9133 5.32643 11.2733 5.38643L13.3999 5.73977C14.7599 5.96643 15.0799 6.9531 14.0999 7.92643L12.4466 9.57977C12.1666 9.85977 12.0133 10.3998 12.0999 10.7864L12.5733 12.8331C12.9466 14.4531 12.0866 15.0798 10.6533 14.2331L8.65994 13.0531C8.29994 12.8398 7.70661 12.8398 7.33994 13.0531L5.34661 14.2331C3.91994 15.0798 3.05327 14.4464 3.42661 12.8331L3.89994 10.7864C3.98661 10.3998 3.83327 9.85977 3.55327 9.57977L1.89994 7.92643C0.926606 6.9531 1.23994 5.96643 2.59994 5.73977L4.72661 5.38643C5.07994 5.32643 5.50661 5.0131 5.66661 4.68643L6.83994 2.33977C7.47994 1.06643 8.51994 1.06643 9.15327 2.33977Z" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
</svg>`;
  let star75 = `<svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
<path d="M10.1533 2.33977L11.3266 4.68643C11.4866 5.0131 11.9133 5.32643 12.2733 5.38643L14.3999 5.73977C15.7599 5.96643 16.0799 6.9531 15.0999 7.92643L13.4466 9.57977C13.1666 9.85977 13.0133 10.3998 13.0999 10.7864L13.5733 12.8331C13.9466 14.4531 13.0866 15.0798 11.6533 14.2331L9.65994 13.0531C9.29994 12.8398 8.70661 12.8398 8.33994 13.0531L6.34661 14.2331C4.91994 15.0798 4.05327 14.4464 4.42661 12.8331L4.89994 10.7864C4.98661 10.3998 4.83327 9.85977 4.55327 9.57977L2.89994 7.92643C1.92661 6.9531 2.23994 5.96643 3.59994 5.73977L5.72661 5.38643C6.07994 5.32643 6.50661 5.0131 6.66661 4.68643L7.83994 2.33977C8.47994 1.06643 9.51994 1.06643 10.1533 2.33977Z" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.49609 2.49804L11.0273 4.95327C11.1873 5.27993 11.354 5.65327 11.354 5.79527V7.18444C11.354 7.95497 11.354 7.52803 11.354 8.36373V9.73292C11.354 10.3662 11.354 9.75316 11.354 11.0533V12.4993C11.354 12.593 11.354 12.5517 11.354 13.9352L8.99609 12.5004C7.99609 12.5004 8.36276 12.7871 7.99609 13.0004L5.99609 14.0004C4.82115 13.9352 4.99609 14.0004 4.49609 13.0004L5.49609 11.0004C5.58276 10.6137 5.10115 10.0129 4.82115 9.73292L3.9964 8.0004C3.02307 7.02707 1.94062 6.23327 3.30062 6.0066L5.49609 6.0004C5.84943 5.9404 6.94597 5.97993 7.10597 5.65327L7.99609 3.49775C8.45889 2.38915 8.64556 1.39021 9.49609 2.49804Z" fill="#595959" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
</svg>`;
  let star100 = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
  <path d="M9.15327 2.33977L10.3266 4.68643C10.4866 5.0131 10.9133 5.32643 11.2733 5.38643L13.3999 5.73977C14.7599 5.96643 15.0799 6.9531 14.0999 7.92643L12.4466 9.57977C12.1666 9.85977 12.0133 10.3998 12.0999 10.7864L12.5733 12.8331C12.9466 14.4531 12.0866 15.0798 10.6533 14.2331L8.65994 13.0531C8.29994 12.8398 7.70661 12.8398 7.33994 13.0531L5.34661 14.2331C3.91994 15.0798 3.05327 14.4464 3.42661 12.8331L3.89994 10.7864C3.98661 10.3998 3.83327 9.85977 3.55327 9.57977L1.89994 7.92643C0.926606 6.9531 1.23994 5.96643 2.59994 5.73977L4.72661 5.38643C5.07994 5.32643 5.50661 5.0131 5.66661 4.68643L6.83994 2.33977C7.47994 1.06643 8.51994 1.06643 9.15327 2.33977Z" fill="#595959" stroke="#595959" stroke-linecap="round" stroke-linejoin="round"/>
</svg>`;
  // Function to generate stars based on review score
  function generateStars(score) {
    //console.log("sc", score);
    let starsHTML = '';
    for (let i = 0; i < 5; i++) {
      if (score >= i + 1) {
        // Full star
        starsHTML += star100;
      } else if (score > i && score <= i + 0.25) {
        // 25% star
        starsHTML += star25;
      } else if (score > i + 0.25 && score <= i + 0.75) {
        // 50% star
        starsHTML += star50;
      } else if (score > i + 0.75 && score < i + 1) {
        // 75% star
        starsHTML += star75;
      } else {
        // Empty star
        starsHTML += star0;
      }
    }
    // console.log(starsHTML)
    return starsHTML;
  }
  function questionAnchor() {
    event.preventDefault(); // Prevent default link or button action

    const element = document.querySelector('.shopify-section:nth-child(6)');
    const offset = -100; // Adjust this value as needed
    const elementPosition = element.getBoundingClientRect().top + window.pageYOffset + offset;

    window.scrollTo({
      top: elementPosition,
      behavior: 'smooth',
    });
    // console.log("Anchor Question");
  }
  const waitForReview = setInterval(function () {
    let reviewScoreEl = document.querySelector(
      '.shopify-section:nth-child(6) .ElementsWidget-prefix .ElementsWidget .ElementsWidget__inner .ElementsWidget__header .header__inner .header__group > div > .R-TextHeading'
    );
    //console.log("new el",reviewScoreEl);
    /*let reviewScoreEl = document.querySelector('.shopify-section:nth-child(6) .ElementsWidget-prefix .ElementsWidget .ElementsWidget__inner > div> div > div > .R-TextHeading');*/

    let reviewCountEl = document.querySelector(
      '.shopify-section:nth-child(6) .ElementsWidget-prefix .ElementsWidget .ElementsWidget__inner > div > div > div > .R-TextBody'
    );
    let reviewStarsContainers = document.querySelectorAll('.rating-stars');
    let reviewScoreContainers = document.querySelectorAll('.rating-score');
    let reviewsContainer = document.querySelector('.product-rating-question');
    let reviewScoreSpans = document.querySelectorAll('.reviewScore');
    let reviewCountSpans = document.querySelectorAll('.reviewCount');
    let reviewScore;
    let reviewCount;
    if (reviewScoreEl) {
      reviewsContainer.style.display = 'flex';
      reviewStarsContainers.forEach((container) => {
        container.style.display = 'flex';
      });
      reviewScoreContainers.forEach((container) => {
        container.style.display = 'flex';
      });
      // Extract review score
      if (reviewScoreEl && reviewScoreEl.textContent) {
        reviewScore = parseFloat(reviewScoreEl.textContent.trim());
        //console.log(reviewScoreEl);
        console.log('Review Score1:', reviewScoreEl.textContent); // e.g., 4.5
      }

      // Extract review count
      if (reviewCountEl && reviewCountEl.textContent) {
        // Assuming review count text follows a format like "Based on 2 reviews"
        const reviewCountMatch = reviewCountEl.textContent.trim().match(/\d+/);
        if (reviewCountMatch) {
          reviewCount = parseInt(reviewCountMatch[0], 10);
          reviewCountSpans.forEach((container) => {
            container.textContent = reviewCount;
          });
          // console.log('Review Count1:', reviewCount); // e.g., 2
        }
      }

      // Update star container with generated stars
      if (reviewStarsContainers && reviewScore !== undefined) {
        reviewScoreSpans.forEach((container) => {
          container.textContent = reviewScore;
        });
        reviewStarsContainers.forEach((container) => {
          container.innerHTML = generateStars(reviewScore);
        });
      }
      console.log('Review score:', reviewScore);
      //console.log("Review Count:",reviewCount)
      clearInterval(waitForReview);
    } else {
      reviewStarsContainers.forEach((container) => {
        container.style.display = 'none';
      });
      reviewScoreContainers.forEach((container) => {
        container.style.display = 'none';
      });
      // reviewsContainer.style.display = "none";
      // console.log("reviewScoreEl:",reviewScoreEl)
    }
  }, 100);
</script>
