{% comment %} Variant stock status pill — shows `variant.metafields.custom.stock_status` {% endcomment %}
<div id="product-stock-badge" class="text-gray-600">
  {% assign _variant = variant %}
  {% if _variant == null and product %}
    {% assign _variant = product.selected_or_first_available_variant %}
  {% endif %}

  {% if _variant and _variant.metafields and _variant.metafields.custom and _variant.metafields.custom.stock_status %}
    {% assign status = _variant.metafields.custom.stock_status.value
      | default: _variant.metafields.custom.stock_status
    %}
    <span class="flex py-1 text-sm gap-1 items-center ">
      {% if status == 'Back Order' or status == 'Out of Stock' or status == 'Low Stock' %}
        {% render 'icon-svg-circle-x', class: 'size-6 text-yellow-700', stroke_width: 1.5 %}
        <span class="text-yellow-700">{{ status }}</span>
      {% else %}
        {% render 'icon-svg-circle-check', class: 'size-6 text-green-700', stroke_width: 1.5 %}
        <span class="text-green-700">{{ status }}</span>
      {% endif %}

      
    </span>
  {% else %}
    <span class="flex py-1 text-sm gap-1 items-center ">
      {% render 'icon-svg-circle-check', class: 'size-6 text-green-700', stroke_width: 1.5 %}
      <span class="text-green-700">In Stock</span>
    </span>
  {% endif %}
</div>
