<div class="mt-6 text-sm leading-tight text-gray-600 flex gap-2.5 flex-wrap">
  <div class="border-gray-50 rounded-xl shadow-2xl py-4 px-2 grid gap-1 max-w-36">
    <div class="flex gap-2 items-center">
      {% render 'icon-svg-store', class: 'size-10 text-yellow-500', stroke_width: 1.25 %}
      <div class="flex gap-2 flex-wrap">
        <p>Click & Collect</p>
      </div>
    </div>
    <div>
      <a href="/pages/click-and-collect" target="_blank" class="flex gap-2 text-xs cursor-pointer justify-center">
        <span class="underline text-gray-600">Find out more</span>
        {% render 'icon-svg-arrow-right-circle', class: 'size-5', stroke_width: 1.25 %}
      </a>
    </div>
  </div>

  <div class="border-gray-50 rounded-xl shadow-2xl py-4 px-2 grid gap-1 max-w-36">
    <div class="flex gap-2 items-center ">
      {% render 'icon-svg-package', class: 'size-10 text-yellow-500', stroke_width: 1.25 %}
      <div class="flex gap-2 flex-wrap">
        <p>Calculate Shipping</p>
      </div>
    </div>
    <div>
      <button
        class="underline text-gray-600 flex gap-2 text-xs cursor-pointer justify-center w-full"
      >
        <a
          href="#"
          onclick="triggerShippingEstimate(event)"
          class="underline text-gray-600 flex gap-2 text-xs cursor-pointer justify-center"
          ><span class="underline text-gray-600"> Get my Rates </span>
          {% render 'icon-svg-arrow-right-circle', class: 'size-5', stroke_width: 1.25 %}
        </a>
      </button>
    </div>
  </div>

  <div class="border-gray-50 rounded-xl shadow-2xl py-4 px-2 grid gap-1 max-w-36">
    <div class="flex gap-2 items-center ">
      {% render 'icon-svg-truck', class: 'size-10 text-yellow-500', stroke_width: 1.25 %}
      <div class="flex gap-2 flex-wrap">
        <p>Estimate Shipping</p>
      </div>
    </div>
    <div>
      <a
        href="#"
        onclick="shippingAnchor(event)"
        class="underline text-gray-600 flex gap-2 text-xs cursor-pointer justify-center"
      >
        Get my ETA
        {% render 'icon-svg-arrow-right-circle', class: 'size-5', stroke_width: 1.25 %}
      </a>
    </div>
  </div>

  <div class="border-gray-50 rounded-xl shadow-2xl py-4 px-2 grid gap-1 max-w-36">
    <div class="flex gap-2 items-center ">
      {% render 'icon-svg-check-badge', class: 'size-10 text-yellow-500', stroke_width: 1.25 %}
      <div class="flex gap-2 flex-wrap">
        <p>Want it installed?</p>
      </div>
    </div>
    <div>
      <a
        href="#"
        onclick="shippingAnchor(event)"
        class="underline text-gray-600 flex gap-2 text-xs cursor-pointer justify-center"
      >
        Find out more
        {% render 'icon-svg-arrow-right-circle', class: 'size-5', stroke_width: 1.25 %}
      </a>
    </div>
  </div>
</div>
