<form class="search" action="/search">
  <div class="relative w-full text-gray-600">
    <input
      type="text"
      placeholder="Search products"
      name="q"
      value="{{ search.terms | escape }}"
      class="bg-white w-full border border-primary rounded-sm py-2 pl-10 pr-4 focus:outline-none focus:ring-1 focus:ring-primary placeholder:text-gray-600"
    >
    <span class="absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5">
      {% render 'icons-svg-search',stroke_width:2 %}
    </span>
  </div>
</form>
