{% if section.settings['show-announcement'] %}
  <section class="bg-primary-light">announcement</section>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-announcement",
      "label": "Show Announcement",
      "default": true
    },
    {
      "type": "text",
      "id": "copy",
      "label": "Copy",
      "default": "Welcome to our Store"
    }
  ],
  "presets": [
    {
      "name": "announcement-bar"
    }
  ]
}
{% endschema %}
