<button
  id="cart-btn"
  aria-expanded="false"
  aria-controls="cart-drawer"
  class="p-1 rounded hover:text-primary transition text-white group m-tooltip--top"
  data-drawer-trigger
>
  <span class="inline-flex relative">{% render 'icon-svg-shopping-cart', class: 'size-6 cursor-pointer' %}
    <span aria-hidden="true" class="m-tooltip__content hidden group-hover:block group-focus:block absolute top-full mt-2 left-1/2 bg-white text-black text-xs rounded-xl px-3 py-2 whitespace-nowrap shadow z-50">
      Cart
    </span>
  </span>
  {% assign cart_count = cart.item_count %}

  <span class="cart-count absolute -top-1 -right-1 bg-bg-light-red text-white text-[10px] rounded-full w-5 h-5 flex items-center justify-center">
    {% if cart_count > 99 %}
      99+
    {% else %}
      {{ cart_count }}
    {% endif %}
  </span>
</button>
