<button
  id="cart-btn"
  aria-expanded="false"
  aria-controls="cart-drawer"
  class="relative p-1 rounded hover:text-bg-light transition text-white"
  data-drawer-trigger
>
  {% render 'icon-svg-shopping-cart', class: 'size-6 cursor-pointer' %}
  {% assign cart_count = cart.item_count %}

  <span class="cart-count absolute -top-1 -right-1 bg-bg-light-red text-white text-[10px] rounded-full w-5 h-5 flex items-center justify-center">
    {% if cart_count > 99 %}
      99+
    {% else %}
      {{ cart_count }}
    {% endif %}
  </span>
</button>
