<div class="container mx-auto py-8 px-4 md:px-0 text-center">
  <section class="max-w-[546px] mx-auto">
    <h3 class="max-w-3xl mx-auto text-center font-semibold text-xl md:text-2xl lg:text-4xl uppercase">
      Sydney Warehouse Pickup Fast & Free to collect
    </h3>
    <p class="mt-6">
      Order online and pick up from our Sydney warehouse when it suits you. We'll email you as soon as your order is
      packed and ready. Most orders are usually ready within 24 hours.
    </p>
    <div class="my-6 flex flex-wrap gap-4 mx-auto items-center justify-center">
      <a
        href="/"
        class="inline-block px-6 py-3 font-bold text-lg primary-button-bordered border-none transition-scale ease-in-out hover:scale-105"
        style="background: #fddc14; color: #2c2c2c;"
        >Shop Now</a
      >

      <a
        href="/pages/contact-us"
        class="inline-block px-6 py-3 font-bold text-lg primary-button-bordered border-none transition-scale ease-in-out hover:scale-105"
        style="background: #000000; color: #ffffff;"
        >Get Directions</a
      >
    </div>
  </section>
  <section class="my-12 md:my-24">
    <h3 class="max-w-3xl mx-auto text-center font-semibold text-xl md:text-2xl lg:text-4xl uppercase">How it works</h3>
    <div class="how-it-works-steps">
      <div class="how-it-works-step">
        <img
          src="https://cdn.shopify.com/s/files/1/0638/5175/7736/files/how-cart.png?v=1769306524"
          alt="Request a Quote"
          width="121"
          height="121"
        >
        <h3>1.</h3>
        <p>
          Place your <br>
          order online
        </p>
        <svg
          class="left-dash"
          xmlns="http://www.w3.org/2000/svg"
          width="414"
          height="74"
          viewBox="0 0 414 74"
          fill="none"
        >
          <path d="M2 19.0509C86.3208 62.5431 286.37 120.022 412 2" stroke="#131313" stroke-width="2.06897" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5.52 5.52"></path>
        </svg>
        <svg
          class="top-dash"
          xmlns="http://www.w3.org/2000/svg"
          width="183"
          height="188"
          viewBox="0 0 183 188"
          fill="none"
        >
          <path d="M45.0887 187C157.547 148.747 306.171 57.9931 1 1" stroke="#131313" stroke-width="1.04741" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2.79 2.79"></path>
        </svg>
      </div>
      <div class="how-it-works-step">
        <img
          src="https://cdn.shopify.com/s/files/1/0638/5175/7736/files/how-pack.png?v=1769306568"
          alt="Pack & Quote"
          width="121"
          height="121"
        >
        <h3>2.</h3>
        <p>We pick & pack</p>
        <svg
          class="right-dash"
          xmlns="http://www.w3.org/2000/svg"
          width="414"
          height="72"
          viewBox="0 0 414 72"
          fill="none"
        >
          <path d="M412 53.4363C327.679 11.1867 127.63 -44.6499 2.00001 70" stroke="#131313" stroke-width="2.06897" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5.52 5.52"></path>
        </svg>
        <svg
          class="down-dash"
          xmlns="http://www.w3.org/2000/svg"
          width="181"
          height="183"
          viewBox="0 0 181 183"
          fill="none"
        >
          <path d="M136.398 1C25.1827 38.2246 -121.799 126.539 180 182" stroke="#131313" stroke-width="1.04741" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2.79 2.79"></path>
        </svg>
      </div>
      <div class="how-it-works-step">
        <img
          src="https://cdn.shopify.com/s/files/1/0638/5175/7736/files/how-bell.png?v=1769306645"
          alt="Notify"
          width="121"
          height="121"
        >
        <h3>3.</h3>
        <p>
          Get the <br>
          <strong>‘Ready for pickup’</strong><br>
          email
        </p>
        <svg
          class="left-dash"
          xmlns="http://www.w3.org/2000/svg"
          width="414"
          height="74"
          viewBox="0 0 414 74"
          fill="none"
        >
          <path d="M2 19.0509C86.3208 62.5431 286.37 120.022 412 2" stroke="#131313" stroke-width="2.06897" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5.52 5.52"></path>
        </svg>
        <svg
          class="top-dash"
          xmlns="http://www.w3.org/2000/svg"
          width="183"
          height="188"
          viewBox="0 0 183 188"
          fill="none"
        >
          <path d="M45.0887 187C157.547 148.747 306.171 57.9931 1 1" stroke="#131313" stroke-width="1.04741" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2.79 2.79"></path>
        </svg>
      </div>

      <div class="how-it-works-step">
        <img
          src="https://cdn.shopify.com/s/files/1/0638/5175/7736/files/how-collect.png?v=1769306618"
          alt="Collect"
          width="121"
          height="121"
        >
        <h3>4.</h3>
        <p>
          Collect with <br>
          confidence
        </p>
      </div>
    </div>
  </section>

  <section class="my-12 md:my-24">
    <h3 class="max-w-3xl mx-auto text-center font-semibold text-xl md:text-2xl lg:text-4xl uppercase">
      Pickup Information
    </h3>
    <div class="flex flex-col sm:flex-row mt-6 items-center justify-between gap-6">
      <div>
        <ul class="flex gap-3 flex-col text-left">
          <li class="flex gap-2 items-center">
            <span class="bg-primary rounded-full p-1.5">{% render 'icon-svg-marker' %}</span>37 Bentley St, Wetherill
            Park NSW 2164
          </li>
          <li class="flex gap-2 items-center">
            <span class="bg-primary rounded-full p-1.5">{% render 'icon-svg-clock' %}</span>Mon–Fri: 7AM – 5PM · Sat:
            9AM – 12PM
          </li>
          <a href="tel:1300291700">
            <li class="flex gap-2 items-center">
              <span class="bg-primary rounded-full p-1.5">{% render 'icon-svg-phone-call' %}</span>1300 291 700
            </li>
          </a>
          <a href="mailto:sales@esafetysupplies.com.au">
            <li class="flex gap-2 items-center">
              <span class="bg-primary rounded-full p-1.5">{% render 'icon-svg-mail' %}</span
              >sales@esafetysupplies.com.au
            </li>
          </a>
        </ul>

        <div class="mt-6 bg-gradient-to-r from-[#0C0C0C] to-[#4C4B4B] p-4 rounded-md text-white grid gap-2 text-left">
          <div class="flex items-center gap-1.5">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M62.3976 7.7255C62.3445 7.55855 61.3639 7.84691 61.1968 7.87769C59.449 8.27261 57.7617 8.90347 56.1506 9.69394C52.8976 11.2821 49.9794 13.4785 47.2133 15.7887C41.1333 20.8731 35.5855 26.5883 30.5547 32.7064C30.4333 32.1439 28.4492 23.2821 24.6567 21.2909C23.395 20.6299 22.217 20.6828 22.217 20.6828C20.5906 20.7512 19.1774 21.7542 18.5083 22.788C17.0341 25.0828 17.8849 27.3481 18.7135 29.4681C20.3474 33.6629 21.9892 37.8509 23.623 42.0458C24.17 43.4443 24.7856 44.9339 26.0323 45.7698C27.6816 46.8794 29.9919 46.4691 31.6183 45.3294C33.2521 44.197 34.3617 42.4794 35.4563 40.8148C36.0946 39.842 36.7483 38.8766 37.4019 37.9117C39.5908 34.7045 41.8709 31.5583 44.2415 28.4729C46.6048 25.395 49.0597 22.3781 51.5905 19.4289C54.1212 16.4803 56.7353 13.6077 59.4337 10.8108C60.1101 10.1116 60.7865 9.41222 61.4704 8.72112C61.6072 8.58433 62.4506 7.89253 62.3976 7.7255Z" fill="#FDDC14"/>
              <path d="M29.6429 3.95703C25.8584 3.95703 22.1872 4.70187 18.7298 6.1607C15.3932 7.57406 12.3917 9.59578 9.81528 12.1723C7.23872 14.7487 5.21747 17.7428 3.80365 21.0869C2.34474 24.5439 1.59998 28.2148 1.59998 31.9994C1.59998 35.784 2.34482 39.4551 3.80365 42.9125C5.21747 46.2566 7.23872 49.2512 9.81528 51.8275C12.3916 54.4039 15.3854 56.4254 18.7295 57.8392C22.1875 59.2987 25.858 60.0429 29.6426 60.0429C33.4271 60.0429 37.0982 59.2981 40.5557 57.8392C43.8923 56.4259 46.8939 54.4041 49.4703 51.8276C52.0467 49.2512 54.0681 46.2571 55.4819 42.913C56.9413 39.4551 57.6856 35.7845 57.6856 32C57.6856 28.2154 56.9407 24.5442 55.4819 21.0869C55.2995 20.6537 55.1098 20.2281 54.904 19.8103C54.4937 20.2816 54.0834 20.7529 53.6731 21.2236C52.7534 22.295 51.8341 23.3897 50.9297 24.4838C51.7657 26.8397 52.2142 29.3705 52.2142 32C52.2142 44.4408 42.0909 54.5714 29.6427 54.5714C17.2018 54.5714 7.07122 44.4482 7.07122 32C7.07122 19.559 17.1944 9.42843 29.6427 9.42843C35.1829 9.42843 40.2674 11.4349 44.1964 14.7635C44.6141 14.4062 45.0324 14.0489 45.4581 13.6922C46.3624 12.9319 47.3882 12.1039 48.5132 11.2599C46.1647 9.11664 43.4897 7.40695 40.556 6.1607C37.0981 4.70125 33.4275 3.95703 29.6429 3.95703Z" fill="#FDDC14"/>
            </svg>
            <strong class="text-xl md:text-2xl uppercase max-w-2xs">Pickup usually ready within 24 hours</strong>
          </div>
          <p>Please bring your Order Confirmation email when collecting.</p>
        </div>
      </div>
      <div class="w-full md:w-2/3 lg:w-1/2">
        <iframe class="border border-[#BFBFBF] rounded-2xl"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.7397629339366!2d150.88047217725023!3d-33.844821273235816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b1297723e37047b%3A0x2673f6790247db27!2seSafety%20Supplies!5e0!3m2!1sen!2sau!4v1769308971407!5m2!1sen!2sau"
          width="100%"
          height="450"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </section>
</div>
<style>
  .how-it-works-steps {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .how-it-works-step {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 401px;
    text-align: center;
  }

  .how-it-works-step img {
    z-index: 1;
    margin-bottom: 20px;
  }

  .how-it-works-step h3 {
    color: #131313;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .how-it-works-step p {
    color: #131313;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .how-it-works {
    padding: 50px 20px 54px;
  }

  svg.left-dash {
    position: absolute;
    top: 50px;
    right: -74%;
  }

  svg.right-dash {
    position: absolute;
    top: -5px;
    right: -74%;
  }
  svg.left-dash,
  svg.right-dash {
    width: 95%;
    right: -60%;
  }
  svg.left-dash {
    top: 39px;
  }
  svg.right-dash {
    top: 5px;
  }
  .top-dash,
  .down-dash {
    display: none;
  }

  @media (max-width: 991px) {
    .how-it-works-step {
      max-width: 203px;
    }
    .how-it-works-step h3 {
      font-size: 14.175px;
    }
    .how-it-works-step p {
      font-size: 12px;
    }
  }

  @media (max-width: 810px) {
    svg.left-dash,
    svg.right-dash {
      width: 100%;
      right: -59%;
    }
    .how-it-works-step img {
      max-width: 43px;
    }
    svg.left-dash {
      top: 2px;
    }
    svg.right-dash {
      top: -20px;
    }
  }

  @media (max-width: 767px) {
    .how-it-works-steps {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    .left-dash,
    .right-dash {
      display: none;
    }
    .top-dash,
    .down-dash {
      display: block;
      position: absolute;
    }
    .top-dash {
      top: 20px;
      right: -30%;
      z-index: 0;
    }
    .down-dash {
      top: 27px;
      left: -30%;
      z-index: 0;
    }
    .how-it-works-step h3 {
      font-size: 16px;
      margin-bottom: 9px;
    }
    .how-it-works-step img {
      max-width: 59px;
    }
  }
</style>
