<footer class="py-8 bg-black">
  <div class="container mx-auto px-4 max-w-7xl">
    <div class="w-full flex flex-wrap justify-between gap-y-8">
      {% for block in section.blocks %}
        <div class="mb-4" style="width: {{ block.settings.width }};">
          {% render 'footer-block', block: block %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.footer_image %}
      <div class="mt-6">
        <img
          src="{{ section.settings.footer_image | image_url: width: 800 }}"
          alt="Footer image"
          class="max-w-full h-auto"
        >
      </div>
    {% endif %}
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_image",
      "label": "Footer image"
    },
    {
      "type": "link_list",
      "id": "footer_bottom_menu",
      "label": "Menu"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "limit": 4,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Footer menu",
          "default": "main-menu"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Service",
          "info": "Leave blank to use menu title"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "our_store",
      "name": "About",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Our store"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Find a location nearest you.</p>"
        },
        {
          "type": "header",
          "content": "Contact information",
          "info": "Go to \"Theme settings > Store contact\" to update these information."
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_text",
      "name": "Custom content",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Custom text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_max",
          "label": "Image max-width (px)",
          "default": "200px"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Content",
          "default": "<p>Enter your email below to be the first to know about new collections and product launches.</p>"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_html",
      "name": "Custom HTML",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Custom text"
        },
        {
          "type": "liquid",
          "id": "html",
          "label": "HTML",
          "info": "Liquid code supported"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
