{% schema %}
{
  "name": "Grid Collection List",
  "settings": [],
  "blocks": [
    {
      "type": "slider_item",
      "name": "Image slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "background",
          "label": "Image on desktop",
          "info": "1920 x 900px recommended"
        },
        {
          "type": "checkbox",
          "id": "single_image",
          "label": "Is Single Image",
          "default": false
        },
        {
          "type": "header",
          "content": "Carousel Content"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },

        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "New Collection",
          "info": "Allows custom HTML"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Tell your campaign through images</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid Collection List"
    }
  ]
}
{% endschema %}
