<header class="bg-black p-2">
  <div class="wrapper container flex items-center justify-between m-auto">
    {% render 'header' %}
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show Search Box",
      "default": true
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu",
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    },
    {
      "type": "mega_menu_item",
      "name": "Mega Menu Item Image",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "Menu Item Title (must match parent menu link)"
        },
        {
          "type": "image_picker",
          "id": "menu_item_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "menu_item_link",
          "label": "Image Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header",
      "blocks": [
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
