{% comment %}
  main-product.liquid
  Two-column product page: left (info), right (image carousel with Glide.js)
{% endcomment %}

<div class="container mx-auto px-4 pt-8 max-w-7xl">
  <div class="product-container grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
      {% render 'product-media-gallery' %}
      <script
        src="https://widget.shopassistant-ai.com/preguide_ai.js"
        data-tenantid="tnt_VIostKRn5lTpaXD"
        data-app-type="pdp"
        defer
      ></script>
      <div class="mt-6 border-t border-grey">
        {% render 'product-faq-preview', product: product %}
      </div>
    </div>
    <!-- Product Info (Right) -->
    <div>
      <h1 class="text-3xl font-semibold mb-4">{{ product.title }}</h1>
      {% render 'product-tags', product: product %}
      {% render 'product-review', product: product %}
      {% assign current_variant = product.selected_or_first_available_variant %}
      <div class="flex gap-4 items-center">
        <div id="product-sku">
          {% assign current_variant = product.selected_or_first_available_variant %}
          {% if current_variant and current_variant.sku %}
            <div class="text-sm text-gray-600 my-4">
              SKU: <span class="sku-value">{{ current_variant.sku }}</span>
            </div>
          {% endif %}
        </div>
        {% render 'product-stock-badge', product: product %}
      </div>
      <div id="product-price" class="mb-4 text-xl font-semibold">
        {% render 'product-price', product: product, show_compare_price: true, price_size: 20, show_ex_gst: true %}
      </div>

      <div class="my-6 border-gray-300 border-y-1 py-6">
        {% render 'product-features', product: product %}
      </div>

      {% render 'variant_picker' %}

      {% render 'product-fixing', product: product %}
      {% assign custom_block = section.blocks | where: 'type', 'custom_field' | first %}
      {% if product.template_suffix == 'product-with-custom-field' and custom_block %}
        {% render 'product-custom-field', block: custom_block, product: product %}
      {% endif %}

      {% render 'bulk-discount', product: product %}
      {% render 'backorder-text', product: product %}
      {% render 'act-button', product: product, showPlus: true %}
      {% render 'dynamic-buy-button', product: product %}
      {% render 'product-below-act-button', product: product %}
      {% if product.tags contains 'Bulky' %}
        {% render 'bulky-item-shipping-note' %}
      {% endif %}
      <div class="mt-6 border-t border-grey">
        {% render 'product-quotify-button', product: product %}
      </div>
    </div>
  </div>
</div>

{% comment %} Sticky product cart (fixed under header) {% endcomment %}
{% render 'sticky-product-cart', product: product %}
{% render 'shipping-calculator', product: product %}
{% schema %}
{
  "name": "Main Product",
  "settings": [],
  "blocks": [
    { "type": "title", "name": "Title" },
    { "type": "price", "name": "Price" },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "label": "Picker type",
          "options": [
            { "value": "button", "label": "Button" },
            { "value": "dropdown", "label": "Dropdown" }
          ],
          "default": "button"
        }
      ]
    },
    { "type": "quantity_selector", "name": "Quantity selector" },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "settings": [
        { "type": "checkbox", "id": "show_dynamic_checkout", "label": "Show dynamic checkout", "default": true },
        { "type": "checkbox", "id": "show_gift_card_recipient", "label": "Show gift card recipient", "default": true }
      ]
    },
    { "type": "description", "name": "Description" },
    {
      "type": "custom_field",
      "name": "Custom field",
      "settings": [
        {
          "type": "paragraph",
          "content": "Need more advanced customization? Use [Teeinblue Product Personalizer](https://teeinblue.com/install/teeinblue?ref=foxecom) app"
        },
        {
          "type": "text",
          "label": "Field name",
          "id": "title",
          "default": "Custom text",
          "info": "Required, don't leave it blank"
        },
        {
          "type": "select",
          "label": "Field type",
          "id": "field_type",
          "default": "text",
          "options": [
            {
              "label": "Single line text",
              "value": "text"
            },
            {
              "label": "Multiline text",
              "value": "textarea"
            },
            {
              "label": "Select",
              "value": "select"
            }
          ]
        },
        {
          "type": "textarea",
          "label": "Options",
          "id": "field_options",
          "info": "Each option in a new line"
        },
        {
          "type": "text",
          "label": "Placeholder",
          "id": "field_placeholder"
        },
        {
          "type": "checkbox",
          "label": "Required",
          "id": "field_required",
          "default": false,
          "info": "If you use “Required” with a checkbox, then the checkbox will need to be checked for the customer to add the item to the cart."
        },
        {
          "type": "checkbox",
          "label": "Show at checkout",
          "id": "show_at_checkout",
          "default": true,
          "info": "Uncheck this if you don't want the captured information to be shown in the order summary on the checkout pages."
        }
      ]
    }
  ],
  "presets": [{ "name": "Main product", "category": "Products" }]
}
{% endschema %}
