{% comment %}
    main-product.liquid
    Two-column product page: left (info), right (image carousel with Glide.js)
{% endcomment %}

<div class="container mx-auto px-4 py-8 max-w-7xl">
    <div class="product-container grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

        <div>
            {% render 'product-media-gallery' %}
            {% render 'product-faq-preview', product: product %}
        </div>
        <!-- Product Info (Right) -->
        <div>
            {% render 'product-tags', product: product %}
           
            <h1 class="text-3xl font-semibold mb-4">{{ product.title }}</h1>
             {% assign current_variant = product.selected_or_first_available_variant %}
            <div id="product-price" class="mb-4 text-xl font-semibold">
                {% render 'product-price',
                    product: product,
                    show_compare_price: true,
                    price_size: 20,
                    show_ex_gst: true
                %}
            </div>
            <div id="product-sku">
                {% assign current_variant = product.selected_or_first_available_variant %}
                {% if current_variant and current_variant.sku %}
                  <div class="text-sm text-gray-600 my-4">SKU: <span class="sku-value">{{ current_variant.sku }}</span></div>
                {% endif %}
            </div>
            <div class="my-6 border-t-gray-300 border-t pt-6">
                {% render 'product-features', product: product %}
            </div>
        
            {% render 'variant_picker' %}
            
            {% render 'act-button', product: product %}

        </div>
    </div>
</div>
 
{% schema %}
{
    "name": "Main Product",
    "settings": [
    ],
    "blocks": [
        { "type": "title", "name": "Title" },
        { "type": "price", "name": "Price" },
        {
            "type": "variant_picker",
            "name": "Variant picker",
            "settings": [
                {
                    "type": "select",
                    "id": "picker_type",
                    "label": "Picker type",
                    "options": [
                        { "value": "button", "label": "Button" },
                        { "value": "dropdown", "label": "Dropdown" }
                    ],
                    "default": "button"
                }
            ]
        },
        { "type": "quantity_selector", "name": "Quantity selector" },
        {
            "type": "buy_buttons",
            "name": "Buy buttons",
            "settings": [
                { "type": "checkbox", "id": "show_dynamic_checkout", "label": "Show dynamic checkout", "default": true },
                { "type": "checkbox", "id": "show_gift_card_recipient", "label": "Show gift card recipient", "default": true }
            ]
        },
        { "type": "description", "name": "Description" }
    ],
    "presets": [
        { "name": "Main product", "category": "Products" }
    ]
}
{% endschema %}

