{% comment %} Section wrapper to allow AJAX section rendering of the shipping calculator snippet {% endcomment %}
<div id="section-{{ section.id }}" class="shipping-calculator-section">
  {% render 'shipping-calculator' %}
</div>

{% schema %}
{
  "name": "shipping-calculator",
  "settings": [],
  "blocks": [],
  "presets": [{ "name": "Shipping calculator" }]
}
{% endschema %}
