.avpoptions-container__v2 div .ap-options__swatch.ap-swatch__single {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.avpoptions-container__v2 .avp-productoptionswatch-box:hover img {
  opacity: 0 !important;
}
.avpoptions-container__v2 div .ap-options__swatch.ap-swatch__single > label {
  border: 1px solid #d2d2d2;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  border-radius: 5px;
  padding: 16px;
  position: relative;
}

.apo-swatch-only-img .avp-productoptionswatch {
  border: none;
  box-shadow: none;
  width: 90px;
  height: 70px;
}
.apo-swatch-wrapper span.custom-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 50%;
  vertical-align: middle;
  transition: background-color 0.2s ease;
  position: absolute;
  right: 10px;
  top: 6px;
}
.apo-swatch-wrapper span.custom-circle.filled {
  background-color: #fedc13;
  border-color: #fedc13;
}
variant-picker .m-product-option--label,
.spec-anchor {
  display: none !important;
}
.accordion-wrapper {
  border-bottom: 1px solid #d9d9d9 !important;
  padding: 20px 0 0 0!important;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-wrapper span.step-title {
  font-weight: 600;
  font-size: 15px;
}
.accordion-icon svg {
  transition: transform 0.3s ease;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.accordion-icon svg.rotated {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.accordion-content.open {
  max-height: 1000px; /* large enough to show content */
}
.accordion-content-wrapper {
    padding: 15px 0 10px 0 !important;
}
.avpoptions-container__v2 div.avp-option,
.avpoptions-container__v2 > div {
  margin-bottom: 0px !important;
}

.product-swiper {
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
  padding-bottom: 70px;
}
/*.swiper .swiper-wrapper{
  padding-bottom: 65px;
}*/
.swiper-slide img {
  width: 100%;
  display: block;
}

/* Hide nav by default */
.product-swiper .swiper-button-prev,
.product-swiper .swiper-button-next,
.product-swiper .swiper-button-next.swiper-button-disabled,
.product-swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show on hover */
.product-swiper:hover .swiper-button-prev,
.product-swiper:hover .swiper-button-next {
  opacity: 1;
}

.product-swiper:hover .swiper-button-next.swiper-button-disabled,
.product-swiper:hover .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
}
/* Thumbnail pagination */
.product-swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  display: none;
}

.product-swiper .swiper-pagination span.swiper-pagination-bullet {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  padding: 2px;
  border: 2px solid transparent;
  border-radius: 4px;
  overflow: hidden;
}

.product-swiper .swiper-pagination span.swiper-pagination-bullet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  border-color: #000;
}

.product-swiper .swiper-button-next:after,
.product-swiper .swiper-button-prev:after {
  font-size: 18px !important;
}
.product-swiper .swiper-button-next,
.product-swiper .swiper-button-prev {
  color: black !important;
  background: white;
  padding: 22px;
  border-radius: 50px;
  font-size: 30px;
}

.product-swiper .swiper-pagination span.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 110px;
  height: 110px;
  background: transparent;
}
.product-swiper .swiper-pagination span.swiper-pagination-bullet:before,
.product-swiper .swiper-pagination .swiper-pagination-bullet:after {
  display: none !important;
}
.product-swiper .swiper-pagination span.swiper-pagination-bullet img {
  width: 60px;
  height: 60px;
}

button.is-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.price-config-notice{
    font-weight: 600;
    padding: 10px 0 20px 0;
}

.avpoptions-container__v2 .accordion-wrapper span.swatch-variant-title{
  font-size: 12px;
}

.product-embedded-video{
  margin:20px auto;
}