/* Styles specific to product information tabs */
.product-info-tabs p{
    margin:16px 0;
}
.product-info-tabs table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
  text-align: left;
  border: none;
  box-sizing: border-box;
}
.product-info-tabs th {
  padding: 0.1rem;
  border-bottom: 1px solid #fff;
}
.product-info-tabs td {
  padding: 0.5rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.product-info-tabs td:first-child {
  border-left: none;
}
.product-info-tabs td:last-child {
  border-right: none;
}
.product-info-tabs tr:first-child td {
  border-bottom: 1px solid #000;
}
.product-info-tabs tr:last-child td {
  border-bottom: none;
}
.product-info-tabs tr:not(:last-child) td {
  border-bottom: 1px solid #000;
}
.product-info-tabs .shipping-table td,
.product-info-tabs .shipping-table th {
  border: none !important;
}

   .shipping-table {
    width: 100%;
    border-collapse: collapse;
   }

   .shipping-table th {
    padding: 10px;
    font-weight: bold;
    text-align: left;


   }

   .shipping-table td {
    padding: 10px;
    text-align: left;
   }

   .shipping-table tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Alternate row color */
   }

   .shipping-table tr:nth-child(odd) {
    background-color: ffffff;
    /* Default row color */
   }
 