@import "tailwindcss";

@theme {
  --color-primary: #FFDC06;
  --color-primary-yellow: #FDDC14;
  --color-primary-light: #ffe61f;
  --color-grey: #dedede;
  --color-grey-text:#595959;
  --color-bg-light: #fee9a7;
  --color-bg-light-blue: #b1d4dd;
  --color-bg-light-red: #cf4949;
  --color-bg-light-pink: #f2dccb;
  --color-btn-text-yellow: #fdec12;
}

@layer utilities {
  .group-hover\:opacity-100 {
    opacity: 1;
  }
}
h2 {
  @apply text-5xl font-medium;
}

.wrapper {
  @apply max-w-screen-2xl m-auto w-full;
}

.btn {
  @apply font-medium rounded-lg shadow-lg px-8 py-3 uppercase transition-all duration-300 ease-in-out cursor-pointer;
}
.primary-button {
  @apply bg-black text-white hover:bg-black/80 hover:scale-105;
}

.secondary-button {
  @apply bg-primary text-black hover:bg-black hover:text-white;
}

.white-button {
  @apply bg-white text-black hover:bg-black hover:text-white;
}
.outline-button {
  @apply bg-transparent border;
}

.primary-cart-button {
  @apply cursor-pointer bg-black text-btn-text-yellow hover:bg-black/80 hover:scale-105 flex gap-2 normal-case items-center py-4 px-4 sm:px-8 text-center font-semibold text-lg rounded-lg;
}

.quick-add-btn {
  @apply font-normal text-base;
}
.icon-button {
  @apply rounded-full p-4;
}
.read-more-button {
  @apply uppercase pb-2 font-medium;
}
.primary-button-bordered {
  @apply rounded-4xl bg-primary-yellow border-1 border-black text-black hover:bg-black hover:text-white;
}