@import "tailwindcss";

@theme {
  --color-primary: oklch(0.89 0.16 85.6);
  --color-primary-light:#FFE61F;
  --color-grey:#dedede;
  --color-bg-light:#fee9a7;
  --color-bg-light-blue:#b1d4dd;
  --color-bg-light-red:#cf4949;
  --color-bg-light-pink:#f2dccb;  
}
h2{
  @apply text-5xl font-medium;
}

.wrapper{
  @apply max-w-screen-2xl m-auto w-full;
}

.btn{
  @apply font-medium rounded-lg shadow-lg transition px-6 py-2 uppercase;
}
.primary-button{
  @apply bg-black text-white hover:bg-black/80 hover:scale-105;
}

.secondary-button{
  @apply bg-primary text-black hover:bg-black hover:text-white;
}

.white-button{
  @apply bg-white text-black hover:bg-gray-100 hover:text-black;
}